.movie-detail-container{
    margin-top:-26%;
    background-color: white;
    border-radius: 2px;
    padding: 1%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}
.movie{
    padding:2%;
}
.movie-cover-image{
    width: 100%;
}

.movie-title{
    text-transform: uppercase;
    padding-bottom: 1%;
}
.movie-release{
    background-color:#E0E0E0;
}
.movie-release h6 {
    margin-bottom: 1%;
    margin-left: 5%;
    padding-left: 0;
    padding-right: 0;
    color: #616161;    
}
.text-genre{
    background-color: #E0E0E0;
    color:#636c72!important;
    margin-left: 1.5%;
    padding: 1% 1.5% 1% 1.5%;
    border-radius: 4px;
}
.text-genre:first-child{
    margin-left: 0;
}
.movie-subdetails{
    font-weight: 100px;
    font-size: 15px;
    color: #9E9E9E;    
}
.column {
    float: left;
    width: 12%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
.column img{
    height: 70px;
}
.column p{
    font-size: 12px;
}
.cast-card{
    border: 0 !important;
}
.cast-list{
    padding-left: 0;
}
.cast-card-name{
    margin-top: 5%;
}
.movie-features{
    padding-left:0 !important;
    display: inline-block;
    width: 100%;
    margin-top: 5%;
}
.movie-features li{
    list-style: none;
    display: inline-block;
    width: 50%;
    text-align: center;
    color: #9E9E9E;
    font-size: 15px;
    background-color: #EEEEEE;
    padding-top: 5%;
    padding-bottom: 5%;
}
.fa{
    text-shadow: 1px 1px 1px #ccc;
    font-size: 2.5em !important;
    width: 30px;
    text-shadow: none;
}
.download_icon{
    text-align: center;
}
.download_icon i{
    color: #B0BEC5;
}
.likeUp{
    color: #1E88E5;    
}
.imdb_icon i{
    color:#f8ca17;
}
.youtube_icon i{
    color:#cc181e;
}